@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Inter:wght@100..900&family=MedievalSharp&display=swap');
@import "tailwindcss";

@theme {
  --font-inter: Inter, "sans-serif";
  --font-mid:  MedievalSharp, "cursive";
  --color-button:  #2E5EAA;
}




/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

