@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=MedievalSharp&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

@theme {
  --font-inter: Inter, "sans-serif";
  --font-mid:  MedievalSharp, "cursive";
  --color-button:  #1B7700;
  --color-fade:#1B770033;
  --font-sf:  Rubik, "sans-serif";
  --background-image-form: url('/formBg.png');
  --background-image-onBoard: url('/group.png');
  --background-image-xImage: url('/bgX.png');
  
}

@layer utilities {
  .bg-form {
    background-image: var(--background-image-form);
  }

  .bg-onBoard{
    background-image:var( --background-image-onBoard);
    background-size: 150%;
  }

  .bg-hero{
    background-image:var(--background-image-xImage);
  }
}




/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F9F9F9;
}

/* Ensure all buttons have pointer cursor unless disabled */
button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



